html {
    margin: 0px;
}
.grid-container {
    display: grid;
    background-color: lightgreen;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    column-gap: 10px;
    row-gap: 10px
}
.grid-item {
    background-color:blueviolet;
    border: 1px solid black;

}